<div class="home">
<div class="row">
<div class="col"></div>
    <div class="col-sm-4 col-lg-4">
    <h1 class="mb-3"> Post it notes!</h1>
    <button class="btn btn-primary new-note"><%= link_to 'Create new note', new_note_path %></button>
    </div>
<div class="col"></div>
</div>
</div>
