
<div class="row mb-3">
<div class="col"></div>

<div class="col-10">

<div class="jumbotron">
  <div class="container">
    <h1 class="display-4">  <%= @note.title %> </h1>
    <p class="lead"> <%= @note.body %> </p>
  </div>
</div>


<p> What would you like to do? </p>

<button> <%= link_to 'Edit note', edit_note_path(@note) %> </button>
<button>  <%= link_to 'Delete note', @note,  method: :delete %> </button>

</div>

<div class="col"></div>

</div>