/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
 }

.navbar a{
    color: white !important;
    padding: 0 0 0 1rem;

}

.jumbotron {
    /* width: 100% !important; */
}

.navbar a:hover {
    color: #1DD760 !important;
    text-decoration: none !important;
}

.home {
    padding-top: 3em; 
    text-align: center;
    height: 87vh;
}

/* CONTENT FOR INDEX */
.all-notes {
    text-align: center;
    margin: auto !important;
}

.btn.new-note{
    margin: auto;
    color: white !important;
    width: 100% !important;
}
.btn.new-note a{
    color: white !important;
}

.all-notes ul {
    display: inline-block;
    margin: 0;
    padding-left: 1rem;
}

.post-note {
    float: left;
    text-align: center;
    padding-top: 30px; 
    margin: 3rem;
    width: 300px;
    height: 300px;
    border-radius: 0 0 20px 0 !important;
    box-shadow: 5px 5px 10px #000 ;
}

a .post-title-index{
    text-decoration: none !important;
    color: gold !important;
}

.post-body-index{
    text-decoration: none !important;
}

.post-note a{
    color: black !important;

}


.post-note:nth-child(odd){
    background:linear-gradient(45deg, #1DD760,rgb(19, 180, 78) ) !important;
}
.post-note:nth-child(even){
    background:linear-gradient(45deg, #FFBF00,rgb(189, 126, 9) ) !important;
}


/* GLOBAL */

footer {
    padding-top: .5rem;
    height: 5vh;
    text-align: center;
    color: white;
    background-color: #1c1c1c;
}

.partial-form-body {
    background-color: #121212 !important;
    height: 100vh;
}

.partial-form {
    background-color: #fafafa;
    border-radius: 20px;
    margin: 2rem;
    padding: 1rem;
}